* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
  max-width: 300px;
  margin: 30px auto;
  overflow: auto;
  min-height: 500px;
  border: 1px solid rgb(73, 116, 209);
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  background-image: url('https://cdn.pixabay.com/photo/2017/02/21/09/02/clouds-2085112_960_720.jpg');
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}




