$primary-color: rgb(164, 80, 175);
$secondary-color: rgb(40, 134, 197);
$button-color: rgb(219, 166, 235);
$button-hover-color: rgb(8, 105, 105);
/*changed primary-color and button-color for opdracht 4*/