body {      
        height: 100vh;
        width: 100vw;
        background-color: black;
        font-family: 'Indie Flower', sans-serif;
        color: beige;
        margin: 0;
        padding: 0;
        overflow-x: hidden;}

nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

.logo p {
            border: solid beige 2px;
            border-radius: 50%;
            padding-top: .2em;
            margin: 0;
            box-sizing: border-box;
            width: 5em;
            height: 2em;
            font-size: 2em;
            text-align: center;
            
            
            }

.anchors ul {
            margin: 0;
            padding: 0;
            display: flex;
            }

.anchors li {
            list-style: none;
            text-decoration: none;
            padding: 1em;
}
 

button {
        background-color: black;
        color: beige;
        border-radius: 50%;
        border: solid beige 2px;
        font-family: 'Indie Flower', sans-serif;
        font-size: 2em;
        cursor: grab;
        transition-duration: .5s;
        box-sizing: border-box;
        }

button:hover {
    background-color: beige;
    color: black;
}

.animation::before {
            content: 'webdeveloper';
            position: absolute;
            color: beige;
            display: inline-block;
            font-size: 7vw;
            left: 30%;
}

.animation {
            position: relative;
            border: solid beige 10px;
            width: 90vw;
            height:80vh;
            left:4em;
            top: 1em;
            
            background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, no-repeat;

            background-image: 
                
                url('kisspng-image-file-formats-display-resolution-forest-png-image-5a764e36f08088.1312068015177027109851.png'),
                url('580b585b2edbce24c47b2636.png'),
                url('22607-9-black-tree-image.png'),
                url('kisspng-tooth-and-tail-monaco-what-s-yours-is-mine-cloud-dust-5abba774d07a76.3669531215222475408539.png'),
                url('https://cdn.pixabay.com/photo/2017/08/07/15/25/cloudy-2604912_1280.jpg'); 

            /*background-size: 1800px, 1000px, 1000px, 900px, cover;*/
            background-size: 200%, 110%, 120%, 150%, cover ;
            background-position: 70%, -100%, 10% , 100%, 100%;
            
            animation-name: animation;
            animation-duration: 30s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;}
            
            
@keyframes animation {
            from {background-position: 70%, -100%, 10%, 100%, 100%;}
            to {background-position: 100%, 300%, -100%, -200%, 100%;}
            };


 @media (max-width: 768px) {
     /*nav {
         flex-direction: column;
         }*/
     .logo {
         margin-top: 1em;
         margin-left: 3em;;
        }
    .anchors ul {
        margin-left: 2em;
    }

    .animation::before {
        font-size: 2.5em;
        padding-left: 4em;
        
    }
     .animation {
                width: 80%;
                height: 75vh;
                background-repeat: repeat;
                animation-duration: 60s;
                margin-left: -1em;;
               }
        
        button {
           font-size: 1em;
        }
 }